<h2 class="title with-icon">
                      <span class="fa  fa-comment-o icn-title">
                      </span>
                      Share Everything With Love
                    </h2>
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <!--=========S Tart blog post section===================================-->
                        <div class="blog-posts">
                          <div class="blog-post">
                            <div class="row">
                              <div class="col-md-8">
                                <h3 class="title-post">
                                  <a href="http://yobithemes.com/wb/html/dcard/blog_single.html">
                                    <i class="fa fa-picture-o">
                                    </i>
                                    An Example Post With An Image
                                  </a>
                                </h3>
                              </div>
                              <div class="col-md-4">
                                <div class="blog-date">
                                  3 Mar, 2014
                                </div>
                              </div>
                            </div>
                            <div class="body-post">
                              <div class="imgWrapper">
                                <img src="/themes/vcard/assets/21-12-36-613_640.jpg" class="img-full blog-img" alt=""
                                style="opacity: 1; filter: none;">
                              </div>
                              <p>
                                Designer focuses on writing clean. by
                                <strong>
                                  UnKown
                                </strong>
                              </p>
                              <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                              </p>
                              <p>
                                <a href="http://yobithemes.com/wb/html/dcard/blog_single.html" class="btn btn-flat style2">
                                  Continue Reading...
                                </a>
                              </p>
                              <div class="love-post-btn">
                                <a href="http://yobithemes.com/wb/html/dcard/index.html#">
                                  <span>
                                    <i class="fa fa-heart">
                                    </i>
                                    3
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="blog-post">
                            <div class="row">
                              <div class="col-md-8">
                                <h3 class="title-post">
                                  <a href="http://yobithemes.com/wb/html/dcard/blog_single.html">
                                    <i class="fa fa-video-camera">
                                    </i>
                                    An Example Post With A Video
                                  </a>
                                </h3>
                              </div>
                              <div class="col-md-4">
                                <div class="blog-date">
                                  3 Mar, 2014
                                </div>
                              </div>
                            </div>
                            <div class="body-post">
                              <div class="imgWrapper">
                                <img src="/themes/vcard/assets/thinking-272677_640.jpg" class="img-full blog-img" alt=""
                                style="opacity: 1; filter: none;">
                                <div class="playbtn">
                                  <a href="https://vimeo.com/45830194" class="popup-iframe">
                                    <span class="fa-4x fa fa-play">
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p>
                                Designer focuses on writing clean. by
                                <strong>
                                  UnKown
                                </strong>
                              </p>
                              <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                              </p>
                              <p>
                                <a href="http://yobithemes.com/wb/html/dcard/blog_single.html" class="btn btn-flat style2">
                                  Continue Reading...
                                </a>
                              </p>
                              <div class="love-post-btn">
                                <a href="http://yobithemes.com/wb/html/dcard/index.html#">
                                  <span>
                                    <i class="fa fa-heart">
                                    </i>
                                    10
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--=========E nd blog post section===================================-->
                        <a href="http://yobithemes.com/wb/html/dcard/blog_list.html" class="btn btn-flat btn-lg btn-block">
                          View All Post
                        </a>
                      </div>
                    </div>