<h3 class="title with-icon">
                      <span class="fa fa-coffee icn-title">
                      </span>
                      Get In Touch
                    </h3>
                    <!--=========S tart map section===================================-->
                    <div class="map-area">
                      <div id="map">
                      </div>
                      <div class="info-map">
                        <h3>
                          Contact Info
                        </h3>
                        <ul class="list-unstyled list-info">
                          <li>
                            <i class="fa fa-home">
                            </i>
                            Haltern am See, Weseler Str. 151
                          </li>
                          <li>
                            <i class="fa fa-phone">
                            </i>
                            +62-867-7887
                          </li>
                          <li>
                            <i class="fa fa-facebook">
                            </i>
                            <a href="http://yobithemes.com/wb/html/dcard/index.html#">
                              fb link
                            </a>
                          </li>
                          <li>
                            <i class="fa fa-twitter">
                            </i>
                            <a href="http://yobithemes.com/wb/html/dcard/index.html#">
                              twitter link
                            </a>
                          </li>
                          <li>
                            <i class="fa fa-linkedin">
                            </i>
                            <a href="http://yobithemes.com/wb/html/dcard/index.html#">
                              linkedin link
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="deviter">
                    </div>
                    <br>
                    <!--=========E nd map section===================================-->
                    <!--=========S tart form contact section===================================-->
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="FullnameForm">
                              Fullname
                            </label>
                            <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Fullname">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="CompanyForm">
                              Company
                            </label>
                            <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="EmailForm">
                              Email Address
                            </label>
                            <input type="email" class="form-control" id="EmailForm" placeholder="Enter Address">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="PhoneForm">
                              Phone Number
                            </label>
                            <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone NUmber">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="MesageForm">
                          Message
                        </label>
                        <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message">
                        </textarea>
                      </div>
                      <button type="submit" class="btn btn-flat btn-lg">
                        <span class="glyphicon glyphicon-send">
                        </span>
                        Send
                      </button>
                    </form>
                    <!--=========E nd form contact section===================================-->