<div class="row">
  <div class="col-md-8">
    <!--=========S tart Time line section===================================-->
    <h3 class="title with-icon">
      <span class="glyphicon glyphicon-plane icn-title">
      </span>
      Work History
    </h3>
    <div class="box-block">
      <div class="time-line">
        <div class="item-event current">
          <span class="date">
            2014
          </span>
          <div class="event-content">
            <h4>
              Web Designer
            </h4>
            <h5>
              Google Inc.
            </h5>
            <p>
              I worked as a Web Developer at Google for 2 years. I create usable web
              interfaces, front end coding stuff and almost anything. But i love what
              i do.
            </p>
          </div>
        </div>
        <div class="item-event">
          <span class="date">
            2013
          </span>
          <div class="event-content">
            <h4>
              Front End Web Developer
            </h4>
            <h5>
              Wrapbootstrap Inc.
            </h5>
            <p>
              As a web designer and developer, my objective is to make a positive impact
              on clients using my skills and experience to design compelling and building
              attractive websites.
            </p>
          </div>
        </div>
        <div class="item-event last">
          <span class="date">
            2012
          </span>
          <div class="event-content">
            <h4>
              Other Job
            </h4>
            <h5>
              Unknown Inc.
            </h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--=========E nd Time line section===================================-->
    <!--=========S tart Time line section===================================-->
    <div class="deviter">
    </div>
    <h3 class="title with-icon">
      <span class="fa fa-book icn-title">
      </span>
      Education History
    </h3>
    <div class="box-block">
      <div class="time-line">
        <div class="item-event current">
          <span class="date">
            2011
          </span>
          <div class="event-content">
            <h4>
              Web Designer
            </h4>
            <h5>
              Google University.
            </h5>
            <p>
              I worked as a Web Developer at Google for 2 years. I create usable web
              interfaces, front end coding stuff and almost anything. But i love what
              i do.
            </p>
          </div>
        </div>
        <div class="item-event">
          <span class="date">
            2008
          </span>
          <div class="event-content">
            <h4>
              Front End Web Developer
            </h4>
            <h5>
              Wrapbootstrap University.
            </h5>
            <p>
              As a web designer and developer, my objective is to make a positive impact
              on clients using my skills and experience to design compelling and building
              attractive websites.
            </p>
          </div>
        </div>
        <div class="item-event last">
          <span class="date">
            2006
          </span>
          <div class="event-content">
            <h4>
              Other Education
            </h4>
            <h5>
              Unknown University.
            </h5>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--=========E nd Time line section===================================-->
  </div>
  <div class="col-md-4">
    <h3 class="title with-icon">
      <span class="fa fa-code icn-title">
      </span>
      Programming Skills
    </h3>
    <div class="box-block">
      <!--=========S Tart your Skills Progress bars section===================================-->
      <ul class="list-unstyled list-skills">
        <li>
          <span class="caption-skill">
            Ruby On Rails
          </span>
          <div class="progress">
            <div class="progress-bar" style="width: 90%;">
              <span>
                90%
              </span>
            </div>
          </div>
        </li>
        <li>
          <span class="caption-skill">
            PHP
          </span>
          <div class="progress">
            <div class="progress-bar" style="width: 80%;">
              <span>
                80%
              </span>
            </div>
          </div>
        </li>
        <li>
          <span class="caption-skill">
            HTML
          </span>
          <div class="progress">
            <div class="progress-bar" style="width: 95%;">
              <span>
                95%
              </span>
            </div>
          </div>
        </li>
        <li>
          <span class="caption-skill">
            MYSQL
          </span>
          <div class="progress">
            <div class="progress-bar" style="width: 85%;">
              <span>
                85%
              </span>
            </div>
          </div>
        </li>
      </ul>
      <!--=========E nd your Skills Progress bars section===================================-->
    </div>
    <div class="deviter">
    </div>
    <h3 class="title with-icon">
      <span class="fa fa-pencil icn-title">
      </span>
      Graphic Skills
    </h3>
    <div class="box-block">
      <!--=========S Tart your Skills Progress point bars section===================================-->
      <ul class="list-unstyled list-points-progress">
        <li>
          <span class="caption-skill">
            PhotoShop
          </span>
          <div class="pogress-point">
            <span class="point-indicator">
              90%
            </span>
            <div class="progress-bar-point" style="width: 90%;">
            </div>
          </div>
        </li>
        <li>
          <span class="caption-skill">
            CorelDraw
          </span>
          <div class="pogress-point">
            <span class="point-indicator">
              70%
            </span>
            <div class="progress-bar-point" style="width: 70%;">
            </div>
          </div>
        </li>
        <li>
          <span class="caption-skill">
            3D Max
          </span>
          <div class="pogress-point">
            <span class="point-indicator">
              80%
            </span>
            <div class="progress-bar-point" style="width: 80%;">
            </div>
          </div>
        </li>
      </ul>
      <!--=========S Tart your Skills Progress point bars section===================================-->
    </div>
    <div class="deviter">
    </div>
    <h3 class="title with-icon">
      <span class="fa fa-globe icn-title">
      </span>
      Language Skills
    </h3>
    <div class="box-block">
      <ul class="list-unstyled list-strip">
        <li>
          <i class="fa fa-check">
          </i>
          English
        </li>
        <li>
          <i class="fa fa-check">
          </i>
          Indonesia
        </li>
        <li>
          <i class="fa fa-check">
          </i>
          Bahasa Sunda
        </li>
      </ul>
    </div>
    <div class="deviter">
    </div>
    <h3 class="title with-icon">
      <span class="fa fa-file icn-title">
      </span>
      Download Cv
    </h3>
    <div class="box-block">
      <p>
        You can download my CV in pdf format if you like. I love what i do.
      </p>
      <a href="http://yobithemes.com/wb/html/dcard/index.html#" class="btn btn-flat btn-block">
        <i class="fa fa-download">
        </i>
        Download
      </a>
      <div class="text-center">
        Or
      </div>
      <a href="http://yobithemes.com/wb/html/dcard/index.html#" class="btn btn-flat btn-block style2">
        <i class="fa fa-print">
        </i>
        Print
      </a>
    </div>
  </div>
</div>