<% content_for :title do %>加入我们<% end %>

<h1>足浴114生活</h1>
<hr/>

<h2>薪酬福利</h2>
<p><strong>薪资结构：</strong>基本工资、绩效奖金、福利保障、长期激励
</p><p><strong>基本工资：</strong>根据岗位和行业水平为员工提供具有竞争力的基本工资，并且每年根据行业水平、公司业绩和员工绩效进行一到两次调整。
</p><p><strong>绩效奖金：</strong>根据员工表现，每月进行绩效评比，发放绩效奖金。
</p><p><strong>福利保障：</strong>
</p><p><strong>社会保险：</strong>根据国家规定为员工缴纳五险一金，即养老保险、医疗保险、失业保险、工伤保险、生育保险、住房公积金。
</p><p><strong>其他福利：</strong>
</p>
<p>1）年度体检：公司为员工每年组织一次健康体检；
</p><p>2）带薪旅游：公司将视经营绩效，组织每年一到二次的带薪旅游；
</p><p>3）节日福利、年终联欢、生日聚会、午餐、部门活动等，以丰富员工的业余生活，增强公司的凝聚力。
</p>
<p><strong>长期激励：</strong>
项目奖：对已成功上线运行或成功运作，对公司的产品运营、市场推广、渠道销售、品牌宣传等有创造性、价值大、超出预期的项目，设立项目奖。
</p><p><strong>优秀员工奖；</strong>
老员工奖，每服务满4年发放老员工奖金；
股票期权，使员工利益与公司利益共同增长；
</p>
<hr/>

<h2>培训发展</h2>
<img src="/assets/t1.jpg"/>
<p>职业发展双通道，使员工既可以在技术领域执着追求、展翅翱翔，也可以在管理领域不断实践、大展宏图。</p>

<img src="/assets/t2.jpg"/>
<p>足浴114关注每一位员工的职业发展和技能提升，并通过完善的培训体系和充足的培训资源为员工发展提供支持。</p>