<div class="row">
  <div class="col-md-3 col-sm-12">
    <h1>发布简历</h1>
    <div class="hidden-xs hidden-sm">
      weew
    </div>
  </div>
  <div class="col-md-6 col-md-offset2 col-sm-12">
    <%= render 'form' %>
  </div>
</div>