<div class="row">
  <div class="col-md-3 col-sm-12">
    <h1>简历发布</h1>
    <div class="hidden-xs hidden-sm">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">足疗行业技师人员</h4>
          <p class="list-group-item-text">通过足浴114平台，将你的简历共享给上万商家，助你轻轻松找到满意的工作。</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">个人简历微分享</h4>
          <p class="list-group-item-text">在足浴114发布的简历，自动适配微信，你可以通过微信等社交网站分享你的简历。</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">如何开通？</h4>
          <p class="list-group-item-text">你只需要填写右侧的信息，即刻开通。简历链接会通过短信形式发送到你的手机号。</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">需要帮助？</h4>
          <p class="list-group-item-text">
            <%= render 'layouts/qq_links' %>
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset2 col-sm-12">
    <%= render 'form' %>
  </div>
</div>