<% if @banner %>
  <div class="section ad-wrapper hidden-xs bg-secodary section-no-margin-bottom">
    <div class="ad-inner">
      <div class="ad ad-full">
        <span style="font-size: 400%; font-family: 微软雅黑, 'Microsoft Yahei';color: #ccc;">为足疗养生行业提供免费信息服务！</span>
      </div>
    </div>
  </div>
<% end %>